<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename ='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename ='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename ='vendor/devicons/css/devicons.min.css')}}" rel="stylesheet'">
    <link type="text/css" href="{{ url_for('static', filename ='vendor/simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css" href="{{url_for('static', filename ='css/resume.min.css')}}" rel="stylesheet">
    <link type="text/css" href="{{url_for('static', filename ='css/stylebutton.css')}}" rel="stylesheet"  />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script type="text/javascript" src="{{url_for('static', filename ='js/phaser.min.js')}}"></script>-->
    <style type="text/css">
        .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
        }
        .embed-container iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>

  </head>

  <body id="page-top" style="background: #efebe9;">
    <nav class="navbar nav_style navbar-expand-lg navbar-dark  fixed-top" id="sideNav" style="background: #FCB622;">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <div class="hidden-xs" style="overflow: hidden; width: 100%;">
            <div class="col-md-5" style="float: left;">
              <img  src=" {{ url_for('static', filename='img/encabezado.png') }} " class="img-responsive" alt="Soy ciudadano TIC"> 
            </div>
            <div class="col-md-7" style="float: left;"> 
              <H3 style="font-weight:bold; color: #1E3077; font-size: 1.5em">SOY CIUDADANO TIC</H3>
              
            </div>
           </div>
           <br><br>

            <li class="nav-item">
                    <button type="button" class=" btn btn-default salir" onclick="location.href='/principalEstudiante'" style="width: 60%">
                      Inicio
                    </button>
            </li>
            <br>  
            <li class="nav-item">
                    <button title="Menú de evaluación y avance" type="button" class="propiedades_boton bn" >
                      <img class="tamanio_imagen" src="{{ url_for('static', filename ='img/principal3.png')}}" alt="">
                    </button>
                <ul class="dropdown-content">
                    <br>
                    <li> 
                        <form method="POST">
                            <button title="Dar clic para ver evaluación y avance" type="submit" name="evaluacion" class=" propiedades_boton_menú bn tam_boton_grande">Evaluación</button>
                        </form>
                        
                    </li>
                    <br>
                    <li><form method="POST">
                        <button title="Dar clic para ver el mapa de actividades" type="submit" name="mapa_actividades" class="propiedades_boton_menú bn tam_boton_pequenio">Mapa de actividades</button>
                        </form>
                    </li>
                    <br>
                  
                </ul>
            </li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    
            <li class="nav-item">

                <div class="container">
                    <form class="form-horizontal" name="sentMessage" id="logingForm" >
                    <div class="col-sm-8"></div>
                    <div class="col-sm-offset-4 col-sm-12">
                    <button type="submit" class="btn btn-default salir" id="salir" name="ref" value="logout" style="">Cerrar sesión</button>
                    </div>
                    </form>
                </div>
            </li>

            </ul>

      </div>
    </nav>

    <div class="panel panel-default" id="mi_panel" >
        <div class="panel-heading" style="background-color: #C5E1A5; color: #1E3077">
            <div class="container">
                <h3 style="color: #1E3077">{{curs.nombre}}</h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="container" >
                <p style="font-size:1.2em; color: #000000">{{curs.descripcion}}</p>
               
                    <div class="panel-group" id="accordion">
                    <div class="panel panel-default ">    
                     {% for ra in ras %}    
                       
                            <div class="panel-heading">
                                <h4 title="Dar clic para desplegar actividades" class="panel-title" style="background-color: #C5E1A5; color: #1E3077">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ra.id_ra}}"><h5 style="color: #1E3077">{{ra.descripcion}} </h5> </a>
                                </h4>
                            </div>
                            <div id="{{ra.id_ra}}" class="panel-collapse collapse">
                                {% for actividad in actividades %}
                                 <script type="text/javascript">
                                    function info_actividades(){
                                        var text = "{{b}}";
                                        var res = text.split("&#39");
                                        var trozos = "";
                                        var i;
                                        for(var i = 0; i < res.length; i++){
                                            if(i % 2 != 0){
                                                trozos += res[i].substring(1, res[i].length)+"\n";
                                            }
                                        }

                                        var actividades_partes = trozos.split("\n");
                                        var actividades_string = [];
                                        var actividad = [];
                                        var intervalo = 1;
                                        for(var i = 0; i < actividades_partes.length; i++){
                                            actividad.push(actividades_partes[i]);
                                            //alert(actividad);
                                            if(intervalo % 3 == 0 && intervalo != 0){
                                                actividades_string.push(actividad);
                                                actividad = [];
                                            }
                                            intervalo++;
                                        }
                                        return actividades_string;
                                    }



                                    if("{{actividad.ra_id}}" == "{{ra.id_ra}}"){
                                        var midiv = document.createElement("div");
                                        var descripcion = "";
                                        var ruta = "";
                                        var acts = info_actividades();
                                        for(var i = 0; i < acts.length; i++){
                                            
                                            if("{{actividad.actividad}}" == acts[i][0]){
                                                descripcion = acts[i][1];
                                                if(acts[i][0].substring(2,3) == 'F'){
                                                    ruta= "/estudiante/formativa/{{actividad.actividad}}"
                                                }
                                                if(acts[i][0].substring(2,3) == 'E'){
                                                    ruta = "/estudiante/actividad/{{actividad.actividad}}";
                                                } 
                                            }
                                        }
                                    midiv.innerHTML = '<a href='+ruta+' style= "font-size:1.2em; color: #000000" name="buscarUsuario">'+'{{actividad.posicion}}'+' '+descripcion+'</a>';
                                        document.getElementById('{{ra.id_ra}}').appendChild(midiv);
                                    }

                                    function get_info_actividad(){
                                        return acts;
                                        
                                    }
                                </script>
                               
                            {% endfor %}

                            </div>
                        
                        {% endfor %}
                </div> 
                </div>
           
        </div>
    </div>
    <script type="text/javascript">
        

        function mostrar(){
           
                                
            alert("hola");

        }
    </script>

    <!-- Trigger the modal with a button -->


<!-- Modal -->
<!--<div id="myModal" class="modal">
 

    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9 col-md-8">
        <iframe src="/mapa_actividades/{{curso}}"  frameborder="0" allowfullscreen></iframe>
        </div>
                    
      </div>
      
    </div>

 
</div>-->

<!--<div id="myModal1" class="modal" >
    <div class="modal-content" >
        <div class="modal-header">
           <button type="button" class="close1 btn btn-default" data-dismiss="modal" style="float:left;">&times;</button>
        </div>
       
        <div class="modal-body row">

            <input type="text" name="ra-input" class="form-control" id="ra-input" >
            <div class="col-md-6">
                <table class="table table-hover table-bordered table-striped" id="tabla_actividades">
                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Secuencia</th>
                            <th>Descripción</th>
                            <th>Realizado</th>
                            
                        </tr>
                    </thead>

                </table>

            </div>
      
            
            <div class="embed-container col-md-6">
             <iframe src="/act/"  frameborder="0" allowfullscreen style="width: 100%; height:  70%">
             </iframe>
            </div>
        </div>
        
   
        <div class="modal-footer" >
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </div>                  
</div>-->
    

<!--<script type="text/javascript">

  
    var contenido_actividades =  {{avance_actividades|safe }};
    
                                       
    
    $(document).ready(function(){
            $(".abrir_actividad").click(function(){

              // Get the modal


             
          
                var modal1 = document.getElementById('myModal1');
               var tabla = document.createElement("tbody");
                //var tr = document.createElement("tr");;
                    
                // Get the button that opens the modal
                

                // Get the <span> element that closes the modal
                var span1 = document.getElementsByClassName("close1")[0];

                // When the user clicks the button, open the modal 
               

                // When the user clicks on <span> (x), close the modal
                span1.onclick = function() {
                    modal1.style.display = "none";
                     tabla.innerHTML = "";

                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (event.target == modal1) {
                        modal1.style.display = "none";
                         tabla.innerHTML = "";
                    }
                }
           
                var valores1="";
     
                // Obtenemos todos los valores contenidos en los <td> de la fila
                // seleccionada
                $(this).parents("tr").find("td").each(function(){
                    valores1+=$(this).html()+"\n";
                });
                    
                
                var res1 = valores1.split("\n");
                var ra_actual =  res1[0];

                modal1.style.display = "block";

               
                

               
                


                for(var i = 0; i < contenido_actividades.length; i++){

                                 var tr = document.createElement("tr");
                                var tdactividad = document.createElement("td");
                                var tdsecuencia = document.createElement("td");
                                var tddescripcion = document.createElement("td");
                                var mitd = document.createElement("td");
                    if(ra_actual == contenido_actividades[i][0]){
                        alert(ra_actual+ "==" +contenido_actividades[i][1]+" se creaActividad");
                               
                              
                                //mitd.className = "abrir_actividad";
                                tdactividad.innerHTML = contenido_actividades[i][1];
                                tdsecuencia.innerHTML = contenido_actividades[i][2];
                                tddescripcion.innerHTML = contenido_actividades[i][3];
                                

                                if(contenido_actividades[i][4] == "False"){
                                    
                                    mitd.innerHTML = '<img  src=" {{ url_for("static", filename="img/chulito.png") }} "'+'class="img-responsive" alt="Chulito">';
                                    
                                }else{
                                    
                                    mitd.innerHTML = '<img  src="{{ url_for("static", filename="img/equiz.png") }} "'+ 'class="img-responsive" alt="equis">';
                            
                                }
                                tr.appendChild(tdactividad);
                                tr.appendChild(tdsecuencia);
                                tr.appendChild(tddescripcion);
                                tr.appendChild(mitd);
                                tabla.appendChild(tr);

                                
                                
                    }

                }

              
                document.getElementById("tabla_actividades").appendChild(tabla);

                
            });
        });
      
 

</script>-->
    
   
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename ='vendor/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename ='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="{{ url_for('static', filename ='js/resume.min.js')}}"></script>

  </body>

</html>

    



 